.legend-box {
    height: 20px;
    width: 20px;
    border: solid 2px black;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.legend-text {
    float: right;
    font-size: 11pt;
    margin-bottom: 6px;
}