.plot {
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.text-box{
    height: 90px;
    width: 90px;
    margin: 5px;
    text-align: center;
    line-height: 90px;
    font-size: 16pt;
    cursor: move;
}

.plot-text {
    width: 90px;
    font-family: 'Lato', sans-serif;
}

.plot-link {
    margin-left: 15px;
    margin-right: 15px;
}

.plot-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.available {
    background-color: whitesmoke;
}

.pending {
    background-color: yellow;
}

.reserved {
    background-color: teal;
}

.occupied { 
    background-color: lightskyblue;
}

.tree {
    background-color: green;
}

.flowers {
    background-color: lightpink;
}

.drain { 
    background-color: orangered;
}

.wall {
    background-color: orange;
}

.cross {
    background-color: slateblue;
}

.stairs {
    background-color: black;
    color: whitesmoke;
}

.bench {
    background-color: lightgrey;
}

.slate-available { 
    background-color: darkgrey;
}

.slate-reserved { 
    background-color: slategrey;
}

.slate-occupied {
    background-color: rgb(42, 54, 66);
    color: whitesmoke;
}
