.plot {
    height: 100px;
    width: 100px;
    margin: 1px;
    float: left;
}

.text-box{
    height: 98px;
    width: 98px;
    margin: 1px;
    padding-top: 6px;
    text-align: center;
    line-height: 14pt;
    font-size: 12pt;
    cursor: move;
}

.plot-text {
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.plot-link {
    margin-left: 2px;
    margin-right: 2px;
}

.plot-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.available {
    background-color: #E4B7B2;
}

.pending {
    background-color: #307D8D;
}

.on-hold {
    background-color: #307D8D;
}

.reserved {
    background-color: #307D8D;
}

.occupied { 
    background-color: lightgrey;
    background-image: url('../../images/light-slate.png');
}

.tree {
    background-color: green;
    background-image: url('../../images/tree.png');
}

.flowers {
    background-color: lightpink;
    background-image: url('../../images/flowers.png');
}

.drain { 
    background-color: slategrey;
    background-image: url('../../images/dark-slate.png');
}

.wall {
    background-color: orange;
    background-image: url('../../images/wall.png')
}

.cross {
    background-color: slateblue;
}

.stairs {
    background-color: black;
    color: whitesmoke;
}

.bench {
    background-color: slategrey;
}

.slate-available { 
    background-color: slategrey;
    background-image: url('../../images/dark-slate.png');
}

.slate-reserved { 
    background-color: slategrey;
    background-image: url('../../images/dark-slate.png');
}

.slate-occupied {
    background-color: rgb(42, 54, 66);
    background-image: url('../../images/dark-slate.png');
    color: whitesmoke;
}
