.plot {
    height: 100px;
    width: 100px;
    margin: 5px;
    float: left;
}

.text-box{
    height: 90px;
    width: 90px;
    margin: 5px;
    text-align: center;
}

.available {
    background-color: whitesmoke;
}

.pending {
    background-color: yellow;
}

.reserved {
    background-color: teal;
}

.occupied { 
    background-color: lightskyblue;
}

.tree {
    background-color: green;
}

.drain { 
    background-color: orangered;
}

.difficult {
    background-color: orange;
}

.cross {
    background-color: slateblue;
}

.stairs {
    background-color: black;
    color: whitesmoke;
}

.bench {
    background-color: lightgrey;
}

.slate-available { 
    background-color: darkgrey;
}

.slate-reserved { 
    background-color: slategrey;
}
